.btn-primary
{
	color:#fff;
	background-color:#94bb36;
	border-color:transparent
}

 

input#submitBtn
{
	background:#94bb36;
	color:#fff;
	padding:13px!important;
	border:none!important
}

 

select
{
	border-color:#eaeaea;
}

 

input#finder_zip
{
	border-color:#eaeaea;
	border-width:1px!important;
	padding:13px!important;
	border-style:solid
}

 

fieldset
{
	border:none!important
}

 

legend
{
	color:#1b2449;
	font-size:21px!important;
	font-family:Brandon Bold!important
}

 

.panel-primary>.panel-heading
{
	color:#fff;
	background-color:#1b2449;
	border-color:#1b2449
}

 

.label-default
{
	background-color:#94bb36
}

 

a
{
	color:#1b2449;
	text-decoration:none
}

 

span.finder_dba_text
{
	font-family:Brandon Bold!important
}

 

.finder_row,#tab-list,#tab-online-vendors-list
{
	max-width:100%!important
}

.nav-tabs>li>a
{
	color:#1b2249;
	font-family:Brandon Bold;
}

.finder_dba_text
{
	font-family:Brandon Bold
}
 

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus
{
	border:none;
	box-shadow:inset 0 -2px 0 #94bb36;
	color:#94bb36
}

 

.nav-tabs>li>a:hover,.nav-tabs>li>a:focus:hover
{
	background-color:transparent;
	box-shadow:inset 0 -2px 0 #94bb36;
	background-color:transparent;
	box-shadow:inset 0 -2px 0 #94bb36;
	color:#94bb36
}

#tab-form, #vipcopyright {

width: 100% !important;

}

 

iframe
{
	width:100%
}
